body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 250px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px
}
.pic{
    width: 200px;
    border-radius: 100%;
}
.text{
text-align: center;
}